<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Directory Name</title>
    </head>
    <body>
        <div align="left">
            <h4>Select a link from below</h4><br>
            <h4>FILES:</h4>
            <table>
                <tr th:each="file : ${__${T(com.tsilva.util.AttributeNames).FILES_LIST}__}">
                    <td>
                        <a th:href="'code?file=' + ${file.getPATH()}"
                           th:text="${file.getPATH()}" >
                            File
                        </a>
                    </td>
                </tr>
            </table>

            <hr>

            <h4>DIRECTORIES:</h4>
            <table>
                <tr th:each="directory : ${__${T(com.tsilva.util.AttributeNames).DIRECTORIES_LIST}__}">
                    <td>
                        <a th:href="'explore?directory=' + ${directory.getPATH()}"
                           th:text="${directory.getPATH()}" >
                            File
                        </a>
                    </td>
                </tr>
            </table>

            <hr>

            <a href="/">Return home</a>
        </div>
    </body>
</html>